<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">View Item List</h1>
      <div class="buttons">
        <button class="button button-outline button-positive" ng-click="closeModal()">Close</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="card" ng-repeat="item in group">
        <div class="item item-divider item-text-wrap">
          <h2><span on-tap="delete(item.name)"><i class="icon ion-close"></i></span>&nbsp;&nbsp;&nbsp;{{item.name}}</h2>
        </div>
        <div class="item item-text-wrap">
          <h3>{{item.location}}</h3>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
